body {
    background-color: black;
    color: white;
}
h1 {
    background-color: black;
    color: white;
}

#composite {
    max-width: 30%;
    height: auto;
    
}

#contact {
    width: 100%;
    border-bottom: 1px solid #ddd;
    text-align: left;
    tr:hover {background-color: grey;}
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#target {
    max-width: 90%;
    height: auto;
}

#owl {
    max-width: 50%;
    height: auto;
}
