body {
    background-color: black;
}

h1 {
    background-color: black;
}

.composite {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.contact {
    width: 100%;
}
