body {
    background-color: black;
    color: white;
}
h1 {
    background-color: black;
    color: white;
}

#composite {
    max-width: 10%;
    height: auto;
    
}

#contact {
    width: 100%;
    padding: 100px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
